.login {
  background-image: url(/assests/styles/imgs/undraw_Social_bio_re_0t9u.svg);
  height: 80vh;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.bg-color {
  background-color: rgb(228, 228, 228);
}