:root {
  --red: #e31f3c
}

/* ||Backgroung Image */
.bg-image {
  background-image: url(/assests/styles/imgs/pexels-tyler-lastovich-997443.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

@keyframes pic-slide {
  0% {
    background-color: #111;
  }

  15% {
    background-image: url(/assests/styles/imgs/pexels-matteus-silva-5994821.jpg);

  }

  20% {
    background-color: #111;
  }

  30% {
    background-image: url(/assests/styles/imgs/pexels-enric-cruz-lópez-6272216.jpg);
  }

  40% {
    background-color: #111;
  }

  50% {
    background-image: url(/assests/styles/imgs/pexels-chevanon-photography-333525.jpg);
  }

  60% {
    background-color: #111;
  }

  75% {
    background-image: url(/assests/styles/imgs/pexels-aradhana-2697288.jpg);
    background-position: center;
  }

  80% {
    background-color: #111;
  }

  100% {
    background-image: url(/assests/styles/imgs/pexels-thiago-matos-2008426.jpg);
  }
}

@media(min-width:800px) {
  .bg-image {
    animation: pic-slide 35s cubic-bezier(0.075, 0.82, 0.165, 1) 2s infinite;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}





.header--font {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 1rem;
}


.card--bg {
  background-color: rgba(44, 43, 43, 0.285);
  backdrop-filter: blur(0.3rem);
}


.red-logo {

  color: var(--red);
}






@media only screen and (max-width:600px) {
  .text-image-hide {
    visibility: hidden;
  }

  .fa-caret-right {
    visibility: hidden;
  }
}

.third-sect-pic {
  height: 30rem;
  width: 100vw;
}


.btn {
  background-color: var(--red);
  border-color: var(--red);
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.775) !important;
}

.center-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.fa-tags,
.fa-hotel,
.fa-car-side,
.fa-tags,
.fa-globe-americas,
.fa-hand-holding-usd {
  font-size: 1rem !important;
}

.fas {
  font-size: 2rem;
  width: fit-content;

}

.btn-read-more {
  width: fit-content;
}

.btn-read-more--bg-color {
  background-color: var(--red);
  border-color: var(--red);
}

body {
  background-color: #111;
}

.border-line {
  border-bottom: solid 1px #cacacace !important;

}

.image-text-glow {
  animation: glow-text 3s forwards;
}

.image-text-glow2 {
  animation: glow-text 2s .7s forwards;
  color: white;
}

@keyframes glow-text {
  from {
    color: white;

  }

  to {
    color: var(--red);
  }
}


.fix-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-hover:hover {
  cursor: pointer;
  color: var(--red);
}

@media only screen and (min-width: 700px) {
  .third-sect-pic {

    width: fit-content;
  }

  .card-overlap {
    position: relative;
    top: 9rem;
    width: 30rem;
  }

  .margins-third {
    margin-top: 12rem !important;
    margin-bottom: 8rem !important;
  }

}


.footer-hover:active {
  cursor: pointer;
  color: var(--red);
}

.fa-star,
.fa-star-half {
  font-size: .9rem;
  color: gold;
}