.login {
  background-image: url(/assests/styles/imgs/pexels-tyler-lastovich-997443.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

}

.fab {
  color: red;
}

.card-bg {
  background-color: rgba(44, 43, 43, 0.285);
  backdrop-filter: blur(0.3rem);
}

@media only screen and (max-width:700px) {
  .text-image-hide {
    visibility: hidden;
  }
}

.third-sect-pic {
  height: 30rem;
  width: 100vw;
}

@media only screen and (min-width: 700px) {
  .third-sect-pic {

    width: fit-content;
  }

}

.btn {
  background-color: red;
  border-color: red;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.775) !important;
}

.center-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}



.fas {
  font-size: 3rem;
  width: fit-content;

}

.btn-read-more {
  width: fit-content;
}